#mergeFiles {
    border-radius: 8px;
    overflow: hidden;
}

#mergeFiles li::marker {
  content: "+";
}

#eventInfos {
    border-radius: 8px;
    overflow: hidden;
}
#evenTodos {
    border-radius: 8px;
    overflow: hidden;
}
