<div data-event="click" data-action="aboutClick" class="w3-bar-item w3-button w3-hover-white">About</div>
<div class="upload-button w3-bar-item w3-button w3-hover-white">
	<input type="file" id="uploadFile" data-event="change" data-action="uploadFile" />
	<label for="uploadFile">Upload File</label>
</div>
<div data-event="click" data-action="downloadFile" class="w3-bar-item w3-button w3-hover-white">Download File</div>
