<div data-event="click" data-action="aboutClick" class="w3-bar-item w3-button w3-hover-white">About</div>
<div data-event="click" data-action="mergeFiles" class="w3-bar-item w3-button w3-hover-white">Merge Files</div>