<div>
    <header class="w3-container w3-theme">
        <h3>Merge Files</h3>
    </header>
    <div class="w3-container w3-theme-l5">
        <ul>
            <button class="w3-button" data-event="click" data-action="addFile">+ add file</button>
        </ul>
    </div>
    <footer class="w3-container w3-theme">&nbsp;</footer>
</div>